<ion-view class="show">
  <splashscreen></splashscreen>
  <ion-nav-title>{{book.title}}</ion-nav-title>
  <ion-content>
    <header style="background:url({{book.media | thumbnail:'thumbnail-450x625'}});">
    </header>
    <section class="header">
      <img ng-src="{{book.media | thumbnail:'thumbnail-215x300'}}" height="150" >
      <h2>{{book.title}} <span ng-if="book.volume"><br /></span> <span class="assertive">{{book.volume}}</span></h2>
      <p>{{book.publication_at | amDateFormat:'dddd DD MMMM YYYY'}}<br />{{book.price}}</p>
      <span class="assertive">{{book.editor}}</span>
    </section>

    <div class="list card">
      <ion-item class="item-body">
        <p ng-bind-html="book.content_display"></p>
      </ion-item>

      <ion-item class="tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" ng-click="comment()">
          <i class="icon ion-chatbubbles"></i>
        </a>
        <a class="tab-item" href="#" ng-click="wish()">
          <i class="icon" ng-class="{'ion-ios-heart': isWish, 'ion-ios-heart-outline': !isWish}"></i>
        </a>
        <a class="tab-item" href="#" ng-click="addNotification()">
          <i class="icon" ng-class="{'ion-android-notifications': isNotify, 'ion-android-notifications-none': !isNotify}"></i>
        </a>
        <a class="tab-item" href="#" ng-click="share()" ion-track-tap="Start" ion-track-data="{ button: 'Share'}">
          <i class="icon ion-android-share"></i>
        </a>
      </ion-item>
    </div>

    <div class="list card comments">
      <ion-item class="item-divider item-dark">
          <i class="icon ion-chatbubbles"></i> {{ 'Comments' | translate }}
      </ion-item>
      <ion-item class="item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </ion-item>
      <ion-item class="item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </ion-item>
      <ion-item class="item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </ion-item>
      <ion-item class="item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </ion-item>
      <ion-item class="item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </ion-item>
    </div>
    <br />

  </ion-content>
</ion-view>
