<ion-view view-title="{{ 'Settings' | translate }}">
  <ion-content>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Pseudo</span>
        <input type="text" placeholder="Pseudo">
      </label>
      <blockquote style="margin:0;padding:10px 15px;border-left:none;">
      {{ 'The pseudo is required to post a comment' | translate }}</blockquote>
    </div>

    <button class="button button-full button-assertive">
      {{ 'Save' | translate }}
    </button>

    <button ng-click="openForm()" style="margin-top:100px;" class="button button-energized button-block ">
      Signaler un problème {{ 'Report a problem' | translate }}
    </button>

    <button class="button button-full button-dark" ion-track-tap="Start" ion-track-data="{ button: 'Reset data'}">
      {{ 'Reset Cache' | translate }}
    </button>



    <button class="button button-primary button-block" ng-click="checkForUpdates()">
      Check for updates
    </button>
    <button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
      download update
    </button>
  </ion-content>
</ion-view>
